In [1]:
import pandas as pd
import numpy as np
import matplotlib

import matplotlib.pyplot as plt
from matplotlib import style
style.use("ggplot")

In [2]:
# Store filepath in a variable
file = "Issued_Construction_Permits_New.csv"

In [9]:
file_df = pd.read_csv(file)
file_df.head()

,PermitTypeDesc,PermitClassMapped,PermitClass,FiscalYearIssued,OriginalZip
0,Driveway / Sidewalks,Residential,Res. Driveway & Sidewalk,2018,78704.0
1,Plumbing Permit,Residential,Residential,2018,78757.0
2,Plumbing Permit,Residential,R- 435 Renovations/Remodel,2018,78758.0
3,Electrical Permit,Residential,Residential,2018,78746.0
4,Plumbing Permit,Residential,R- 102 Secondary Apartment,2018,78702.0

In [10]:
new_df = file_df[['FiscalYearIssued','OriginalZip']] 
new_df

       FiscalYearIssued  OriginalZip
0                  2018      78704.0
1                  2018      78757.0
2                  2018      78758.0
3                  2018      78746.0
4                  2018      78702.0
5                  2018      78759.0
6                  2018      78741.0
7                  2018      78754.0
8                  2018      78744.0
9                  2018      78759.0
10                 2018      78701.0
11                 2018      78739.0
12                 2018      78747.0
13                 2018      78758.0
14                 2018      78730.0
15                 2018      78725.0
16                 2018      78703.0
17                 2018      78652.0
18                 2018      78744.0
19                 2018      78758.0
20                 2018      78753.0
21                 2018      78703.0
22                 2018      78745.0
23                 2018      78759.0
24                 2018      78746.0
25                 2018      78759.0
26                 2018      78730.0
27                 2018      78703.0
28                 2018      78704.0
29                 2018      78745.0
...                 ...          ...
46996              2012      78748.0
46997              2012      78704.0
46998              2012      78748.0
46999              2012      78748.0
47000              2012      78741.0
47001              2012      78754.0
47002              2012      78754.0
47003              2012      78754.0
47004              2012      78754.0
47005              2012      78754.0
47006              2012      78748.0
47007              2012      78704.0
47008              2012      78717.0
47009              2012      78750.0
47010              2012      78748.0
47011              2012      78735.0
47012              2012      78735.0
47013              2012      78717.0
47014              2012      78747.0
47015              2012      78747.0
47016              2012      78736.0
47017              2012      78748.0
47018              2012      78748.0
47019              2012      78746.0
47020              2012      78726.0
47021              2012      78613.0
47022              2012      78745.0
47023              2012      78753.0
47024              2012      78735.0
47025              2012      78724.0

[47026 rows x 2 columns]

In [11]:
final_df = new_df.groupby(['OriginalZip'])['FiscalYearIssued'].count().reset_index()
final_df["OriginalZip"]
final_df.sort_values(by = ["FiscalYearIssued"],ascending=False)

    OriginalZip  FiscalYearIssued
10      78704.0              2907
35      78744.0              2457
16      78723.0              2387
36      78745.0              2361
8       78702.0              2220
39      78748.0              1972
7       78701.0              1852
9       78703.0              1782
47      78757.0              1614
33      78741.0              1606
24      78731.0              1465
12      78717.0              1457
45      78754.0              1444
49      78759.0              1396
44      78753.0              1344
37      78746.0              1321
5       78660.0              1197
48      78758.0              1193
38      78747.0              1085
14      78721.0              1040
40      78749.0               926
20      78727.0               834
11      78705.0               770
43      78752.0               760
41      78750.0               747
17      78724.0               707
28      78735.0               691
42      78751.0               649
3       78652.0               598
32      78739.0               589
46      78756.0               566
22      78729.0               492
15      78722.0               470
4       78653.0               444
23      78730.0               392
29      78736.0               369
2       78617.0               365
18      78725.0               315
13      78719.0               294
19      78726.0               260
25      78732.0               257
31      78738.0               248
21      78728.0               200
27      78734.0               165
26      78733.0               118
1       78613.0                84
34      78742.0                33
30      78737.0                21
6       78681.0                 1
0       78610.0                 1