In [1]:
import os
import pandas as pd

In [7]:
parks= os.path.join("../Resources/Raw/city-of-austin-parks-1.csv")

In [12]:
parks_df= pd.read_csv(parks)

parks_df = parks_df[["PARK_ID","PARK_ACRES","SHAPE_AREA","SHAPE_LEN","ZIP_CODE"]]
parks_df.head()

   PARK_ID  PARK_ACRES    SHAPE_AREA     SHAPE_LEN  ZIP_CODE
0      215    1.152581  5.020624e+04    912.073535     78731
1      313    4.943708  2.153470e+05   2456.140724     78703
2      371   77.390907  3.371134e+06   9262.547633     78746
3      289    2.248317  9.793630e+04   1665.906556     78703
4      315   91.228997  3.973919e+06  35791.080093     78745

In [27]:
zip_parks_df = parks_df.groupby(["ZIP_CODE"])["PARK_ID"].count().reset_index()
zip_parks_df= zip_parks_df.rename(columns={"ZIP_CODE": "Zip Code","PARK_ID": "Number of Parks"})

zip_parks_df

    Zip Code  Number of Parks
0      78613                1
1      78617                5
2      78652                2
3      78660                1
4      78664                1
5      78701               13
6      78702               22
7      78703               19
8      78704               26
9      78705                7
10     78717                1
11     78721                9
12     78722                4
13     78723               10
14     78724                8
15     78725                5
16     78726                1
17     78727                4
18     78729                2
19     78730                1
20     78731               16
21     78733                1
22     78735                3
23     78737                1
24     78739                4
25     78741               13
26     78744               13
27     78745               14
28     78746                7
29     78747                1
30     78748               10
31     78749               11
32     78750                6
33     78751                4
34     78752                8
35     78753                8
36     78754                1
37     78756                1
38     78757                8
39     78758               12
40     78759                8

In [26]:
zip_parks_df.to_csv("../Resources/CLean/parks_by_zip.csv")